body {
    background-image: url('assets/docs/1321f0c9-3b77-4f20-817a-bcd79a6ffd70.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar{
    padding: 5px;
}

.navbar-logo {
    height: 40px; /* Ajusta la altura según tus preferencias */
    width: auto;  /* Mantén la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.navbar-light.bg-light {
    background-color: #f8f9fa !important;
}

.navbar-dark.bg-dark {
    background-color: #343a40 !important;
}

.container-content{
    padding: 10px;
}

.jumbotron {
    background: #f8f9fa;
    margin-bottom: 0;
}

body.dark-mode .jumbotron {
    background: #1c1c1c;
}

#about, #contact {
    background: #e9ecef;
}

body.dark-mode #about, body.dark-mode #contact {
    background: #1f1f1f;
}

.card {
    background: #ffffff;
}

body.dark-mode .card {
    background: #2c2c2c;
}

.card-title, .card-text {
    color: #000000;
}

header{
    opacity: 0.8;
}

body.dark-mode .card-title, body.dark-mode .card-text {
    color: #ffffff;
}

/* Estilo general para las secciones de habilidades */
#skills{
    padding: 10px;
    background-color: #0a0a0a;
    opacity: 0.8;
    color: #ffffff;
}


.section-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.skills-section {
    margin-bottom: 40px;
}

.skills-section .col-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-section i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.database-icon {
    color: #336699; /* Color azul para iconos de bases de datos */
}

.language-icon {
    color: #009933; /* Color verde para iconos de lenguajes de programación */
}

.framework-icon {
    color: #dd0031; /* Color rojo para iconos de frameworks */
}

/* Responsividad */
@media (max-width: 767.98px) {
    .skills-section .col-6 {
        font-size: 0.9rem;
    }

    .skills-section i {
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .skills-section .col-md-4 {
        font-size: 1rem;
    }

    .skills-section i {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .skills-section .col-lg-3 {
        font-size: 1.1rem;
    }

    .skills-section i {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .skills-section .col-lg-3 {
        font-size: 1.2rem;
    }

    .skills-section i {
        font-size: 3.5rem;
    }
}

/* Colores personalizados para cada habilidad */
.html5-icon {
    color: #e34c26;
}

.css3-icon {
    color: #264de4;
}

.js-icon {
    color: #f7df1e;
}

.react-icon {
    color: #61dafb;
}

.nodejs-icon {
    color: #68a063;
}

.python-icon {
    color: #306998;
}

.oracle-icon {
    color: #f80000;
}

.java-icon {
    color: #007396; /* Color para Java */
}

.vue-icon {
    color: #42b883; /* Color para Vue.js */
}

.angular-icon {
    color: #dd0031; /* Color para Angular */
}

#contact{
    opacity: 0.8;
}

/* Estilo para la sección de experiencia */
#experience {
    padding: 50px 0;
    background-color: #f9f9f9;
}

#experience .container {
    max-width: 800px;
    margin: 0 auto;
}

#experience h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.experience-item {
    margin-bottom: 40px;
}

.experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experience-item h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

.experience-item p {
    margin-bottom: 10px;
}

.experience-item i {
    margin-right: 5px;
    color: #007bff;
}